<div class="store_view_content" id="store5" ng-init="sortuser = ''">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="stores_titles">Manage Staff</div>
                <div class="stores_subtitle">Manage staff profile and access control for this division here.</div>
                <div class="sort_list">
                    Sort by  
                    <a ng-click="sortuser = '+name'; $event.stopPropagation();" ng-style="{ 'text-decoration' : (sortuser == '+name') ? 'underline' : 'none' }">0A-Z</a>,  
                    <a ng-click="sortuser = '-name'; $event.stopPropagation();" ng-style="{ 'text-decoration' : (sortuser == '-name') ? 'underline' : 'none' }">Z-A0</a>
                </div>
            </div>
        </div>
    </div>

    <div class="loader_large" ng-show="divisionData.contentLoad && divisionData.process != 'ADD'"></div>

    <div class="container" ng-show="!divisionData.contentLoad || divisionData.process != 'ADD'">
        <div class="row">
            <div class="col-xs-12">
                <div class="staff margin-top-25">
                    <div class="center_content">
                        <div class="ul_container" id="grid">
                            <ul>
                                <li ng-click="addusers(); $event.stopPropagation();">
                                    <div class="add_staff" id="add_admin">
                                        <div class="center">
                                            <div class="add_icon"></div>
                                        </div>
                                        <div class="text-center">Add New User</div>
                                    </div>
                                </li>
                                <span class="append_cnt">
                                    <li class="form-toggle" ng-repeat="users in userData.userlist| orderBy:sortuser" ng-if="users.role != 1">
                                        <div class="staff_profile object-admin-box" ng-click="getuserbyId(users._id)">
                                            <div class="profile_img">
                                                <img ng-src="{{profile_imageloc + users.profile_picture}}" width="65px" fallback-src="profile">
                                            </div>
                                            <div class="staff_name" ng-bind="users.name"></div>
                                            <div class="staff_role" ng-repeat="roles in userData.roles" ng-if="roles.id == users.role" ng-bind="roles.name"></div>
                                            <div class="staff_phone" ng-bind="'+91 ' + users.mobile_no"></div>
                                        </div>
                                    </li>
                                </span>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="common-wrapper" ng-if="showadminuserform">
        <form name="myForm">
            <div class="object-admin-form staff_strip"></div>
            <div class="add_new_entry">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-11 col-md-12">
                            <div class="entry_header heading_4">
                                <span ng-bind="userForm.name"></span>
                                <span class="GI_TW_close GI_TW_Controls close_icon_small close_icons pull-right" ng-click="closeForm(); $event.stopPropagation();"></span>
                            </div>
                            <div class="entry_content">
                                <div class="col-xs-5 col-md-3">
                                    <div class="uploaed_file button" ngf-select="onFileSelect($files)" ngf-pattern="'.jpg,.jpeg,.png'" ngf-accept="'image/*'" ngf-max-size="2MB">
                                        <span class="fileinput-button" ng-if="!userData.imagesrc"> <span class="add_icon"></span><br>
                                            <span class="margin-left-10" ng-if="!userData.imagesrc">Add Photo</span> 
                                        </span> 
                                        <img ng-if="userData.imagesrc" ng-src="{{userData.loadedfile}}" height="200px" width="100%"/>
                                    </div>
                                </div>
                                <div class="col-xs-7 col-md-9">
                                    <div class="row">
                                        <div class="col-lg-8 col-xs-12">
                                            <input type="text" class="form-control form_address" ng-model="userForm.name" name="name" placeholder="Name"
                                                   ng-class="{'input_error_class':(!myForm.name.$valid && userData.formsubmission)}" required>
                                        </div>
                                        <div class="col-lg-4 col-xs-12 styled-select">
                                            <select class="form-control" ng-model="userForm.role" name="role" ng-options="roles.id as roles.name for roles in userData.roles" 
                                                    ng-class="{'input_error_class':(!myForm.role.$valid && userData.formsubmission)}" required>
                                                <option value="">Role</option>
                                            </select>
                                        </div>
                                        <div class="col-xs-12 ">
                                            <input type="text" class="form-control form_address " ng-model="userForm.address" name="full_address" placeholder="Full Address" 
                                                   ng-class="{'input_error_class':(!myForm.full_address.$valid && userData.formsubmission)}" required>
                                        </div>
                                        <div class="col-lg-4 col-xs-12">
                                            <input type="text" class="form-control" ng-model="userForm.email_id" name="email_address" ng-model-options="{updateOn: 'blur'}" ng-change="checkemail(userForm.email_id)" 
                                                   placeholder="Email ID..." ng-pattern='/\S+@\S+\.\S+/' ng-class="{'input_error_class':(!myForm.email_address.$valid && userData.formsubmission)}" required>
                                        </div>
                                        <div class="col-lg-4 col-xs-12">
                                            <input type="text" class="form-control" ng-model="userForm.mobile_no" name="mobile_no" ng-minlength="10" ng-maxlength="12" ng-pattern="/^[0-9]{10,12}$/" placeholder="Mobile No. xxxx..." 
                                                   ng-class="{'input_error_class':(!myForm.mobile_no.$valid && userData.formsubmission)}" required>
                                        </div>
                                        <div class="col-lg-4 col-xs-12">
                                            <input type="text" class="form-control" ng-model="userForm.alternate_no" name="alternate_contact_no" ng-pattern="/^[0-9]{10,12}$/" ng-minlength="10" ng-maxlength="12" placeholder="Alt. Contact No. xxxx..." 
                                                   ng-class="{'input_error_class':(!myForm.alternate_contact_no.$valid && userData.formsubmission)}">
                                        </div>
                                        <div class="col-lg-4 col-xs-12">
                                            <input type="text" class="form-control" ng-model="userForm.salary" name="salary" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
                                                   placeholder="Salary Rs." ng-class="{'input_error_class':(!myForm.salary.$valid && userData.formsubmission)}"/>
                                        </div>
                                        <div class="col-lg-4 col-xs-12">
                                            <div class="form-group datepicker_custom_style datestylestaff">
                                                <div class="input-group date">
                                                    <date-time-picker ng-model="userForm.join_date" placeholder="Date" start-view='2' min-view='2' max-view='4' today-btn='true' 
                                                                      minute-step='30' format="dd-MM-yyyy" container=".datestylestaff">
                                                    </date-time-picker>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row margin-bottom-30">
                        <div class="col-xs-10 col-md-10 col-md-offset-1">
                            <div class="col-xs-12 col-md-8 col-md-offset-2 entry_content" style="text-align: center;">
                                <div class="heading_title_2 heading_4">Login Credentials</div>
                                <div class="subtitle">Enter a username and password for this Admin staff to login to the app.</div>
                                <div class="col-lg-12 col-md-12 col-xs-12 margin-top-10">
                                    <div class="col-xs-6">
                                        <input type="text" class="form-control" ng-model="userForm.username" ng-model-options="{updateOn: 'blur'}" ng-change="checkusername(userForm.username)" 
                                               name="username" placeholder="Username" ng-class="{'input_error_class':(!myForm.username.$valid && userData.formsubmission)}" required/>
                                    </div>

                                    <div class="col-xs-6">
                                        <input type="{{inputType}}" id="adminuserPassword" ng-model="userForm.password"  alpha-numeric="6" class="form-control " name="password" placeholder="Password"
                                               ng-class="{'input_error_class':(!myForm.password.$valid && userData.formsubmission)}" required/>
                                        <span class="eye-icon" ng-class="{'icon-eye-close':inputType == 'text'}" ng-mousedown="showpassword('text');" 
                                              ng-mouseup="showpassword('password')"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-8 col-md-offset-2">
                                <div class="heading_title_2 heading_4">Access Rights</div>
                                <div class="subtitle">Manage user access rights for division admin app. </div>
                                
                                <table class="table table-bordered  margin-top-30">
                                    <tr class="text-center" >
                                        <td class="td_border_hide" colspan="4"></td>
                                        <td class="td_border_hide"><b>Read</b><br/>
                                            <input type="checkbox" class="input_class_checkbox" ng-model="userData.Readall" ng-hide="true">
                                            <div class="class_checkbox" ng-click="setReadall(userData); $event.stopPropagation();" 
                                                 ng-class="{'checked':userData.Readall}"></div>
                                        </td>
                                        <td class="td_border_hide"><b>Modify</b><br/>
                                            <input type="checkbox" class="input_class_checkbox" ng-model="userData.Modifyall" ng-hide="true">
                                            <div class="class_checkbox" ng-click="setModifyall(userData); $event.stopPropagation();" 
                                                 ng-class="{'checked':userData.Modifyall}"></div>
                                        </td>
                                        <td class="td_border_hide"><b>Remove</b><br/>
                                            <input type="checkbox" class="input_class_checkbox" ng-model="userData.Removeall" ng-hide="true">
                                            <div class="class_checkbox" ng-click="setRemoveall(userData); $event.stopPropagation();" 
                                                 ng-class="{'checked':userData.Removeall}"></div>
                                        </td>
                                    </tr>

                                    <tr ng-repeat-start="priv in userData.privileges" ng-if="priv.pid == 0">
                                        <td colspan="4"><div class="role_title heading_4" ng-bind="priv.page"></div></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>

                                    <tr class="access_right" ng-repeat="privilege in userData.privileges" ng-if="privilege.pid != 0 && privilege.pid == priv.privilege_id">
                                        <td colspan="4"><div class="role_name" ng-bind="privilege.page"></div></td>
                                        <td>
                                            <input type="checkbox" class="input_class_checkbox" ng-model="privilege.Read" ng-hide="true">
                                            <div class="class_checkbox" ng-click="privilege.Read = !privilege.Read; $event.stopPropagation();" 
                                                 ng-class="{'checked':privilege.Read == true || privilege.Read == 'true'}"></div>
                                        </td>
                                        <td>
                                            <input type="checkbox" class="input_class_checkbox" ng-model="privilege.Modify" ng-hide="true">
                                            <div class="class_checkbox" ng-click="privilege.Modify = !privilege.Modify; $event.stopPropagation();" 
                                                 ng-class="{'checked':privilege.Modify == true || privilege.Modify == 'true'}"></div>
                                        </td>
                                        <td>
                                            <input type="checkbox" class="input_class_checkbox" ng-model="privilege.Remove" ng-hide="true">
                                            <div class="class_checkbox" ng-click="privilege.Remove = !privilege.Remove; $event.stopPropagation();" 
                                                 ng-class="{'checked':privilege.Remove == true || privilege.Remove == 'true'}"></div>
                                        </td>
                                        <td class="td_border_hide"></td>
                                    </tr>

                                    <tr ng-repeat-end></tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 text-center margin-top-30 margin-bottom-30"> 
                        <a class="common_button" ng-if="userData.process == 'ADD'" ng-click="createUser(myForm.$valid);$event.stopPropagation();" 
                           ng-show="!divisionData.eventLoad">Save User Profile</a>
                        <a class="common_button" ng-if="userData.process != 'ADD'" ng-click="updateUser(myForm.$valid);$event.stopPropagation();" 
                           ng-show="!divisionData.eventLoad">Update User Profile</a>
                        <a class="cutomer_group_link margin-left-20" ng-click="closeForm(); $event.stopPropagation();">Cancel</a>
                        <div class="loader_small" ng-show="divisionData.eventLoad"></div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="container" ng-show="!divisionData.contentLoad || divisionData.process != 'ADD'">
        <div class="row">
            <div class="col-xs-12">
                <div class="stores_pre_nex">
                    ← <a class="blod_line" ng-click="changeChildPage('Stocks'); $event.stopPropagation();" >Stocks</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function checkbox() {
        $('.class_checkbox').on('click', function () {<!-- Checkbox -->
            $(this).toggleClass('checked').prev().prop('checked', $(this).is('.checked'))
        });
    }
    checkbox();
</script>