<!doctype html>
<html>
    <head>    
        <meta charset="utf-8">
        <link rel="stylesheet" href="../../../css/font.css" />
        <style>
            body{
                color: #393939;
                font-size: 14px;
                font-family: 'Open Sans', sans-serif;
            }
            .text-right{
                text-align: right;
            }
            .text-left{
                text-align: left;
            }
            .text-center{
                text-align: center;
            }
            .margin-top-10{

            }
            .dc_wapper{
                float:left;width:850px;margin:10px 10px;
            }
            .invoice_title{
                font-size: 24px;
                color: rgb(0,89,178);
                /*padding: 10px 0px;*/
                text-align: center;
                float: left;
                width: 100%;
                font-weight: bold;

            }
            .cmpy_logo{
                float:left;width:250px;
            }
            .cmpy_logo img{
                margin-left:20px;width:180px;
            }
            .col-xs{
                float:left;width:100%;
            }
            .col-xs-left{
                float:left;;
            }
            .col-xs-right{
                float:right;
            }
            .dc_customer_details{
                padding: 20px 0px 5px;border-top:3px solid rgb(204,204,204);border-bottom:3px solid rgb(204,204,204);
                margin-top: 30px;
            }
            .dc_title1{
                width:28%;float:left;margin-right:2%;margin-bottom:15px;font-weight:bold;
            }
            .dc_title2{
                float:left;margin-right:2%;margin-bottom:15px;margin-bottom:10px;margin-left:20%;width:38%;font-weight:bold;
            }
            .dc_details1{
                width:70%;float:left;margin-bottom:15px;
            }
            .dc_details2{
                float:left;margin-bottom:15px;margin-bottom: 10px;width: 40%;
            }
            .dc_footer_total{
                font-size: 13px;width: 370px;
            }

            .dc_footer_total .dc_details {
                width:70%;float:left;font-weight:bold;margin-bottom:15px;margin-bottom: 10px;width: 30%;font-weight: normal;
            }
            .dc_footer_total .dc_title {
                width:28%;float:left;margin-right:2%;margin-bottom:15px;width:28%;float:left;
                margin-right:2%;margin-bottom:15px;margin-bottom: 10px;
                margin-left: 20%;width: 46%;
            }
            .dc_address{
                display:table-cell;vertical-align: bottom;width: 300px;margin-right: 15px;/*font-size: 12px;*/color: rgb(17,17,17);line-height: 17px;/*padding: 0px 0px 5px 0px;*/font-size: 14px;
            }
            .dc_address_title{
                /*font-size:24px;color:rgb(0,89,178);text-align:right;padding:15px 0px;text-align:center;width:100%;*/
            }
            .dc_table{
                width:100%;/*border:0px;margin:15px 0px 20px;*/border-collapse: collapse;border:1px solid;border-top:0px;
            }
            .dc_table .border-right{
                border-right: 1px solid;
            }
            .dc_table .border-bottom{
                border-bottom: 1px solid;
            }
            .dc_table .border-top{
                border-top: 1px solid;
            }
            .dc_table .header{
                /*border:0px;*/padding:10px 7px;font-size:12px;
            }
            .dc_table .row-top{
                /*border-top: 1px solid rgb(204,204,204);*/
            }
            .dc_for{
                font-size:12px;font-weight:bold;padding:15px 0px;text-align:center;
            }
            .dc_table .header.tax_column{
                padding: 5px 7px;
            }
            .dc_table .row-top .header, .dc_table .header.font13{
                font-size: 13px;
            }
        </style>
        <script type="text/javascript" src="../../../js/angular.min.js"></script>
        <script type="text/javascript" src="../../../js/angular-sanitize.min.js"></script>
        
        <script>
            var app = angular.module("InvoicePrint", []);
            app.controller("invoicePrintCtrl", function ($scope, $rootScope, $timeout) {

                $scope.returnForm = {};
                if (window.opener && !window.opener.closed) {
                    $scope.invoiceDetail = window.opener.invoiceDetail;
                    $scope.currency = window.opener.currency;
                    $timeout(function () {
                        window.print();
                    }, 3000);
                }
            }).filter('getNumbers', function () {
                return function (data) {
                    if (angular.isUndefined(data)) {
                        return data;
                    } else {
                        data +="";
                    }
                    //parse value
                    var clean = data.replace(/[^0-9\.]/g, "");
                    var decimalCheck = clean.split(".");
                    if (!angular.isUndefined(decimalCheck[1])) {
                        clean = parseFloat(data).toFixed(2);
                    }
                    return clean;
                };
            });
        </script>
    </head>
    <body ng-app="InvoicePrint" ng-controller="invoicePrintCtrl">
        <div class="dc_wapper"> <!-- dc_wapper -->
            <div class="col-xs" style="display:table;">
                <div class="cmpy_logo">
                    <img src="../../images/logo_print.png" width="230px">
                </div>
                <div class="dc_address" style="font-size: 14px;">
                    <span style="font-weight: bold;font-size: 16px;">LOTUS KNITS <b ng-if="invoiceDetail.Invoicedata.division_id && invoiceDetail.Invoicedata.division_id.name" 
                          ng-bind="'('+invoiceDetail.Invoicedata.division_id.name+')'"></b></span><br>
                    <span style="font-weight: bold;color: #333;" ng-if="invoiceDetail.Companyprofile && invoiceDetail.Companyprofile.address" 
                          ng-bind="invoiceDetail.Companyprofile.address"></span><br>
                    <span style="font-weight: bold;color: #333;" ng-if="invoiceDetail.Companyprofile && invoiceDetail.Companyprofile.gstin" 
                          ng-bind="'GSTIN No : '+invoiceDetail.Companyprofile.gstin"></span><br>
                    <span style="font-weight: bold;color: #333;" ng-if="invoiceDetail.Companyprofile && invoiceDetail.Companyprofile.phone_no" 
                          ng-bind="'Phone : '+invoiceDetail.Companyprofile.phone_no"></span><br>
                </div>
                <div style="width: 250px;display: table-cell;vertical-align: middle;">
                    <div class="invoice_title">TAX INVOICE</div>
                </div>
            </div>
            <div class="col-xs dc_customer_details">
                <div class="col-xs-left" style="width:460px;margin-right:15px;">
                    <div class="dc_title1">Customer</div>
                    <div class="dc_details1">
                        <span ng-bind="invoiceDetail.Invoicedata.customer_name"></span>
                        <p ng-if="invoiceDetail.Invoicedata.default_address && invoiceDetail.Invoicedata.default_address.billing_address_line" 
                           style="margin: 5px 0px 0px 0px;">
                        <span ng-if="invoiceDetail.Invoicedata.default_address.billing_address_line && invoiceDetail.Invoicedata.default_address.billing_address_line!=''" 
                              ng-bind="invoiceDetail.Invoicedata.default_address.billing_address_line+','"></span><br/>
                        <span ng-if="invoiceDetail.Invoicedata.default_address.billing_area && invoiceDetail.Invoicedata.default_address.billing_area!=''" 
                              ng-bind="invoiceDetail.Invoicedata.default_address.billing_area+','"></span><br/>
                        <span ng-if="invoiceDetail.Invoicedata.default_address.billing_city && invoiceDetail.Invoicedata.default_address.billing_city!=''" 
                              ng-bind="invoiceDetail.Invoicedata.default_address.billing_city"></span>
                        <span ng-if="invoiceDetail.Invoicedata.default_address.billing_pincode && invoiceDetail.Invoicedata.default_address.billing_pincode!=''" 
                              ng-bind="' - '+invoiceDetail.Invoicedata.default_address.billing_pincode+'.'"></span>
                        <br ng-if="invoiceDetail.Invoicedata.default_address.billing_gstin && invoiceDetail.Invoicedata.default_address.billing_gstin!=''">
                        <span ng-if="invoiceDetail.Invoicedata.default_address.billing_gstin && invoiceDetail.Invoicedata.default_address.billing_gstin!=''" 
                              ng-bind="'GSTIN : '+invoiceDetail.Invoicedata.default_address.billing_gstin"></span>
                        </p>
                    </div>
                    <div class="dc_title1">Billing Address</div>
                    <div class="dc_details1">
                        <span ng-if="invoiceDetail.Invoicedata.default_address.billing_company_name && invoiceDetail.Invoicedata.default_address.billing_company_name!=''" 
                              ng-bind="invoiceDetail.Invoicedata.default_address.billing_company_name"></span>
                        <span ng-if="invoiceDetail.Invoicedata.billing_address.billing_address_line && invoiceDetail.Invoicedata.billing_address.billing_address_line!=''" 
                              ng-bind="invoiceDetail.Invoicedata.billing_address.billing_address_line+','"></span><br/>
                        <span ng-if="invoiceDetail.Invoicedata.billing_address.billing_area && invoiceDetail.Invoicedata.billing_address.billing_area!=''" 
                              ng-bind="invoiceDetail.Invoicedata.billing_address.billing_area+','"></span><br/>
                        <span ng-if="invoiceDetail.Invoicedata.billing_address.billing_city && invoiceDetail.Invoicedata.billing_address.billing_city!=''" 
                              ng-bind="invoiceDetail.Invoicedata.billing_address.billing_city"></span>
                        <span ng-if="invoiceDetail.Invoicedata.billing_address.billing_pincode && invoiceDetail.Invoicedata.billing_address.billing_pincode!=''" 
                              ng-bind="' - '+invoiceDetail.Invoicedata.billing_address.billing_pincode+'.'"></span>
                        <br ng-if="invoiceDetail.Invoicedata.default_address.billing_gstin && invoiceDetail.Invoicedata.default_address.billing_gstin!=''">
                        <span ng-if="invoiceDetail.Invoicedata.default_address.billing_gstin && invoiceDetail.Invoicedata.default_address.billing_gstin!=''" 
                              ng-bind="'GSTIN : '+invoiceDetail.Invoicedata.default_address.billing_gstin"></span>
                    </div>
                    <div class="dc_title1" ng-if="invoiceDetail.Invoicedata.placeofSupply.name && invoiceDetail.Invoicedata.placeofSupply.name!=''">State</div>
                    <div class="dc_details1" ng-if="invoiceDetail.Invoicedata.placeofSupply.name && invoiceDetail.Invoicedata.placeofSupply.name!=''">
                        <span ng-bind="invoiceDetail.Invoicedata.placeofSupply.name"></span><br>
                    </div>
                    <div class="dc_title1" ng-if="invoiceDetail.Invoicedata.gstin">GSTIN</div>
                    <div class="dc_details1" ng-if="invoiceDetail.Invoicedata.gstin">
                        <span ng-bind="invoiceDetail.Invoicedata.gstin"></span>
                    </div>            
                </div>
                <div class="col-xs-left" style="width:370px;">

                    <div class="dc_title2" style="">Invoice No</div>
                    <div class="dc_details2" ng-bind="invoiceDetail.Invoicedata.invoice_no"></div>

                    <div class="dc_title2">Invoice Date</div>
                    <div class="dc_details2" ng-bind="invoiceDetail.Invoicedata.invoice_date | date:'dd-MM-yyyy'"></div>

                    <div class="dc_title2">Invoice Due Date</div>
                    <div class="dc_details2" ng-bind="invoiceDetail.Invoicedata.invoicedue_date | date:'dd-MM-yyyy'"></div>
                </div>
            </div>

            <div class="col-xs" style="margin-top:15px;">
                <table class="dc_table">
                    <thead>
                        <tr class="border-bottom border-top">
                            <th class="text-center header border-right" style="font-size:14px !important;" width="91px;">DC NO</th>
                            <th class="text-center header border-right" style="font-size:14px !important;" width="131px;">Fabric</th>
                            <th class="text-center header border-right" style="font-size:14px !important;" width="136px;">Color</th>
                            <th class="text-center header border-right" style="font-size:14px !important;" width="166px;">Process</th>
                            <th class="text-center header border-right" style="font-size:14px !important;" width="46px;">Rolls</th>
                            <th class="text-center header border-right" style="font-size:14px !important;" width="50px;">Weight</th>
                            <th class="text-center header border-right" style="font-size:14px !important;" width="52px;">Rate (₹)</th>
                            <th class="text-center header border-right" style="font-size:14px !important;" width="76px;">Amount (₹)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat-start="item in invoiceDetail.Invoicedata.items"></tr>
                            <tr class="row-top" ng-repeat="process in item.process">
                                <td class="dc_table_list_td text-left header border-right" width="91px;"><span ng-bind="item.delivery_no"></span></td>
                                <td class="text-left header border-right" width="131px;"><span ng-if="$index==0" ng-bind="item.fabric_type"></span></td>
                                <td class="text-left header border-right" width="136px;"><span ng-if="$index==0" ng-bind="item.fabric_color"></span></td>
                                <td class="text-left header border-right" width="166px;"><span ng-bind="process.process_name"></span></td>
                                <td class="text-center header border-right" width="46px;"><span ng-if="$index==0" ng-bind="item.delivery_roll"></span></td>
                                <td class="text-right header border-right" width="56px;"><span ng-if="$index==0" ng-bind="item.delivery_weight | number:3"></span></td>
                                <td class="text-right header border-right" width="46px;"><span ng-bind="process.price | number:2"></span></td>
                                <td class="text-right header border-right" width="76px;"><span ng-bind="process.subtotal | number:2"></span></td>
                            </tr>
                        <tr ng-repeat-end></tr>
                        <tr class="row-top" ng-repeat="items in invoiceDetail.Invoicedata.otheritems">
                            <td class="dc_table_list_td text-left header border-right" width="91px;"></td>
                            <td class="text-left header border-right" width="131px;"></td>
                            <td class="text-left header border-right" width="136px;"></td>
                            <td class="text-left header border-right" width="166px;"><span ng-bind="items.itemname"></span></td>
                            <td class="text-center header border-right" width="46px;"></td>
                            <td class="text-right header border-right" width="56px;"><span ng-bind="items.qty | number:3"></span></td>
                            <td class="text-right header border-right" width="46px;"><span ng-bind="items.price | number:2"></span></td>
                            <td class="text-right header border-right" width="76px;"><span ng-bind="items.subtotal | number:2"></span></td>
                        </tr>
                        
                        <tr class="row-top" style="height:30px;">
                            <td class="header border-right" width="91px;"></td>
                            <td class="header border-right" width="131px;"></td>
                            <td class="header border-right" width="136px;"></td>
                            <td class="header border-right" width="166px;"></td>
                            <td class="header border-right" width="46px;"></td>
                            <td class="header border-right" width="56px;"></td>
                            <td class="header border-right" width="46px;"></td>
                            <td class="header border-right" width="76px;"></td>
                        </tr>
                    </tbody>
                </table>
                <table class="dc_table">
                    <tr class="border-bottom">
                        <td class="dc_table_list_td text-right header border-right font13" width="553px;"><b>Total</b></td>
                        <td class="text-right header" width="118px;"></td>
                        <td class="text-right header" width="46px;"></td>
                        <td class="text-right header font13" width="76px;"><b ng-bind="currency+(invoiceDetail.Invoicedata.subtotal | number:2)"></b></td>
                    </tr>
                    <tr ng-repeat="tax in invoiceDetail.Invoicedata.tax_data">
                        <td ng-if="$index==0" rowspan="{{invoiceDetail.Invoicedata.tax_data.length+1}}" class="dc_table_list_td text-left header border-right border-bottom tax_column" 
                            style="font-size: 14px;" width="553px;"><b>HSN / SAC : </b> <span ng-bind="invoiceDetail.hsn_codes"></span></td>
                        <td class="text-left header tax_column font13" width="118px;"><span ng-bind="tax.tax_name"></span></td>
                        <td class="text-right header tax_column font13" width="46px;"><span ng-bind="tax.tax_percentage"></span></td>
                        <td class="text-right header tax_column font13" width="76px;"><span ng-bind="currency+(tax.taxamount | number:2)"></span></td>
                    </tr>
<!--                    <tr>
                        <td class="text-left header tax_column" width="118px;">Total GST</td>
                        <td class="text-right header tax_column" width="46px;"></td>
                        <td class="text-right header tax_column" width="76px;">9.90</td>
                    </tr>
                    <tr>
                        <td class="text-left header tax_column" width="118px;">Extra Charges</td>
                        <td class="text-right header tax_column" width="46px;"></td>
                        <td class="text-right header tax_column" width="76px;"></td>
                    </tr>-->
                    <tr class="border-bottom">
                        <td class="text-left header tax_column font13" width="118px;">Round Off</td>
                        <td class="text-right header tax_column" width="46px;"></td>
                        <td class="text-right header tax_column font13" width="76px;" ng-if="invoiceDetail.Invoicedata.roundoff && invoiceDetail.Invoicedata.roundoff!=0" ng-bind="currency+invoiceDetail.Invoicedata.roundoff"></td>
                        <td class="text-right header tax_column font13" width="76px;" ng-if="!invoiceDetail.Invoicedata.roundoff || invoiceDetail.Invoicedata.roundoff==0 || invoiceDetail.Invoicedata.roundoff==0.00" ng-bind="currency+'0.00'"></td>
                    </tr>
                    <tr class="border-bottom">
                        <td class="border-right" width="553px;"></td>
                        <td class="text-left header" width="118px;" style="font-size: 14px;"><b>Net Amount</b></td>
                        <td colspan="2" class="text-right header"><input id="rupee" style="display: none;" ng-model="invoiceDetail.Invoicedata.total"/><b style="font-size: 14px;" ng-bind="currency+(invoiceDetail.Invoicedata.total | number:2)"></b></td>
                    </tr>
                    <tr class="border-bottom">
                        <td class="header" colspan="4">Amount in Words: <span id="rupeewords"></span></td>
                    </tr>
                </table>
                <table class="dc_table">
                    <tr>
                        <td class="border-right" width="190px;"></td>
                        <td class="border-right" width="190px;"></td>
                        <td class="border-bottom text-left border-right header tax_column">Certified that the Particulars given above are true and Correct</td>
                    </tr>
                    <tr>
                        <td class="border-right" width="190px;"></td>
                        <td class="border-right" width="190px;"></td>
                        <td class="header text-center" colspan="4">For LOTUS KNITS<span ng-if="invoiceDetail.Invoicedata.division_id && invoiceDetail.Invoicedata.division_id.name" 
                          ng-bind="'('+invoiceDetail.Invoicedata.division_id.name+')'"></span></td>
                    </tr>
                    <tr>
                        <td class="border-right" width="190px;"></td>
                        <td class="border-right" width="190px;"></td>
                        <td class="border-right"></td>
                    </tr>
                    <tr>
                        <td class="border-right" width="190px;"></td>
                        <td class="border-right" width="190px;"></td>
                        <td class="border-right"></td>
                    </tr>
                    <tr>
                        <td class="border-right header text-center" width="190px;">Received By</td>
                        <td class="border-right header text-center" width="190px;">Checked By</td>
                        <td class="header text-center border-right">Authorised Signatory</td>
                    </tr>
                </table>
            </div>       
        </div>
    </body>
    <script type="text/javascript">
        var iWords = ['Zero', ' One', ' Two', ' Three', ' Four', ' Five', ' Six', ' Seven', ' Eight', ' Nine'];
        var ePlace = ['Ten', ' Eleven', ' Twelve', ' Thirteen', ' Fourteen', ' Fifteen', ' Sixteen', ' Seventeen', ' Eighteen', ' Nineteen'];
        var tensPlace = ['', ' Ten', ' Twenty', ' Thirty', ' Forty', ' Fifty', ' Sixty', ' Seventy', ' Eighty', ' Ninety'];
        var inWords = [];

        var numReversed, inWords, actnumber, i, j;

        function tensComplication() {
            'use strict';
            if (parseInt(actnumber[i]) === 0) {
                inWords[j] = '';
            } else if (parseInt(actnumber[i]) === 1) {               
                inWords[j] = ePlace[actnumber[i - 1]];
            } else {
                inWords[j] = tensPlace[actnumber[i]];
            }
        }

        function testSkill() {
            var junkVal = document.getElementById('rupee').value;
            junkVal = parseFloat(junkVal).toFixed(2);
            var obStr = junkVal.toString();
            var numbersplit = obStr.split('.');
            
            if(numbersplit.length===0){
                return false;;
            }
            
            
            if (Number(junkVal) >= 0) {
                //do nothing
            } else {
                return false;
            }
            if (Number(junkVal) === 0) {
                return false;
            }
            var finalWorddec = '';
            j = 0;
            if(numbersplit.length===2){
                var numReverseddec = numbersplit[1].split('');                
                if(numReverseddec && parseFloat(numReverseddec)>0){
                   
                    actnumber = numReverseddec.reverse();
                    var iWordsLen = numReverseddec.length;

                    for (i = 0; i < iWordsLen; i++) {
                        switch (i) {
                            case 0:
                                if (actnumber[i] === '0' || actnumber[i + 1] === '1') {
                                    inWords[j] = '';
                                } else {
                                    inWords[j] = iWords[actnumber[i]];
                                }
                                inWords[j] = inWords[j] + ' Paise Only.';
                                break;
                            case 1:
                                tensComplication();
                                break;
                            default:
                                break;
                        }
                        j++;
                    }
                    inWords.reverse();
                    finalWorddec +=' and';
                    for (i = 0; i < inWords.length; i++) {
                        finalWorddec += inWords[i];
                    }
                } else{
                    numbersplit.splice(1,1);
                }
            }
            
            inWords = [];
            var numReversed = numbersplit[0].split('');            
            actnumber = numReversed.reverse();
            if (actnumber.length > 9) {
                return false;
            }
            
            var iWordsLength = numReversed.length;
            var finalWord = '';
            j = 0;
            
            for (i = 0; i < iWordsLength; i++) {
                switch (i) {
                    case 0:
                        if (actnumber[i] === '0' || actnumber[i + 1] === '1') {
                            inWords[j] = '';
                        } else {
                            inWords[j] = iWords[actnumber[i]];
                        }
                        if(numbersplit.length===1){
                            inWords[j] = inWords[j] + ' Only.';
                        }
                        break;
                    case 1:
                        tensComplication();
                        break;
                    case 2:
                        if (actnumber[i] === '0') {
                            inWords[j] = '';
                        } else if (actnumber[i - 1] !== '0' || actnumber[i - 2] !== '0') {
                            inWords[j] = iWords[actnumber[i]] + ' Hundred and';
                        } else {
                            inWords[j] = iWords[actnumber[i]] + ' Hundred';
                        }
                        
                        break;
                    case 3:
                        if (actnumber[i] === '0' || actnumber[i + 1] === '1') {
                            inWords[j] = '';
                        } else {
                            inWords[j] = iWords[actnumber[i]];
                        }
                        if (parseInt(actnumber[i])===0) {
                            
                            inWords[j] = inWords[j] + ' Thousand';
                        }
                        
                        inWords[j] = inWords[j] + ' Thousand';
                        break;
                    case 4:
                        tensComplication();
                        break;
                    case 5:
                        if (actnumber[i] === '0' || actnumber[i + 1] === '1') {
                            inWords[j] = '';
                        } else {
                            inWords[j] = iWords[actnumber[i]];
                        }
                        if (actnumber[i + 1] !== '0' || actnumber[i] > '0') {
                            inWords[j] = inWords[j] + ' Lakh';
                        }
                        break;
                    case 6:
                        tensComplication();
                        break;
                    case 7:
                        if (actnumber[i] === '0' || actnumber[i + 1] === '1') {
                            inWords[j] = '';
                        } else {
                            inWords[j] = iWords[actnumber[i]];
                        }
                        inWords[j] = inWords[j] + ' Crore';
                        break;
                    case 8:
                        tensComplication();
                        break;
                    default:
                        break;
                }
                j++;
            }


            inWords.reverse();
            for (i = 0; i < inWords.length; i++) {
                finalWord += inWords[i];
            }
            document.getElementById('rupeewords').innerHTML = 'Rupees '+finalWord + finalWorddec;
        }
        setTimeout(function () {
            testSkill();
        },100);
    </script>
</html>