<style>
    .ui-autocomplete {
        display: block;
        position: absolute !important;
        cursor: default;
        max-height: 300px;
        min-height: 50px;
        max-width: 300px;
        overflow-y: auto;
        overflow-x: hidden;
        padding-right: 0;
        z-index: 9999;
        background: #fff;
        float: left;
        min-width: 160px;
        padding: 5px 0px;
        margin: 2px 0px 0px;
        font-size: 14px;
        text-align: left;
        list-style: none;
        background-color: rgb(255, 255, 255);
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, 0.14902);
    }
    .ui-autocomplete>li>a{
        display: block;
        padding: 3px 10px;
        clear: both;
        font-weight: 400;
        line-height: 1.42857143;
        color: #333;
        white-space: nowrap;
    }
    .new-job-card-tab .billappend{
        width: 150px;
        float: left;
    }
</style>
<div class="container-fluid padding_zero" ng-controller="DeliveryeditController">
    <div id="page_loader" ng-show="$root.orderpageLoader"></div>
    <div class="jobcard_page dashboard_container left_panel_toggle">
        <div id="wrapper" class="active">
            <div id="wrapper_content">
                <div>
                    <!-- bill_contianer -->
                    <div class="billshow_container">
                        <div class="row" style="margin:0px">
                            <div class="col-xs-12 job_card_left padding_zero">
                                <div class="delivery_tabpane">
                                    <div class="bill_section_1 bill_auto_height col-xs-3 col2">
                                        <div class="bill_sec_container margin-bottom-20">
                                            <div class="bottom-jobcard customer_page col-lg-12 center-block">
                                                <div class="col-xs-12 text-center margin-top-20 margin-bottom-10 viewcustomer_placeholder_title" ng-if="deliveryForm.customer_id && deliveryForm.customer_id != ''">
                                                    <div class="viewcustomer_placeholder">
                                                        <b ng-bind="deliveryForm.customer_name"></b>
                                                    </div>
                                                    <div class="viewcustomer_placeholder">
                                                        <b ng-bind="commonobjectService.getPhonenoprefix() + ' ' + deliveryForm.customer_mobile_no"></b>
                                                    </div>
                                                    <div class="col-xs-12 text-center contact_font_color">
                                                        <div class="margin-bottom-05" ng-if="deliveryForm.customer_alternate_no && deliveryForm.customer_alternate_no != ''">
                                                            <b ng-bind="'Alt. Contact No.: '+deliveryForm.customer_alternate_no"></b>
                                                        </div>
                                                        <div class="margin-bottom-05">
                                                            <b combine-Address="{{deliveryForm}}"></b>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="bill-view-section sec3">
                                        <div class="orders_page">
                                            <div class="order_header">
                                                <div class="col-xs-12 padding_zero order_page_container margin-top-20 margin-bottom-20">
                                                    <div class="col-xs-6">
                                                        <div class="order_no heading_4 title_content pull-left" style="width: 100%">
                                                            <span class="label_title">Job No: </span>
                                                            <span class="heading_4 title_content" ng-bind="deliveryForm.order_no"></span>
                                                        </div>
                                                        <div class="order_cus_name heading_4 title_content pull-left" style="width: 100%">
                                                            <b ng-bind="deliveryForm.customer_name"></b>
                                                        </div>
                                                        <div class="col-xs-7 padding_zero billing_address title_content" bill-gstin="true" combine-Address="{{deliveryForm}}" style="white-space: normal;"></div>
                                                        
                                                        <div class="col-xs-12 margin-top-15 padding_zero billing_address_title label_title">Delivery To</div>
                                                        <div class="title_content pull-left margin-top-05" style="width: 100%">
                                                            <span ng-bind="deliveryForm.delivery_company_name" ng-show="!deliveryData.addresschange || deliveryData.updateconfirm"></span>
                                                            <input type="text" name="delivery_company_name" class="common_input" placeholder="Company Name" ng-model="deliveryData.delivery_company_name" 
                                                                   ui-autocomplete="companyOption" ng-show="deliveryData.addresschange && !deliveryData.updateconfirm" style="width: 200px;" tabindex="6"/>&nbsp;&nbsp;
                                                            <a ng-click="changedeliveryaddress()" ng-show="!deliveryData.addresschange && !deliveryData.updateconfirm" tabindex="5" ng-enter="changedeliveryaddress()">Change</a>
                                                            <a ng-click="saveDeliveryaddress()" ng-show="deliveryData.addresschange && !deliveryData.updateconfirm" tabindex="7" ng-enter="saveDeliveryaddress()">Update</a>&nbsp;&nbsp;
                                                            <a ng-click="closedeliveryaddress()" ng-show="deliveryData.addresschange && !deliveryData.updateconfirm" tabindex="8" ng-enter="closedeliveryaddress()">Cancel</a>
                                                        </div>
                                                        
                                                        <div class="col-xs-12 margin-top-15 padding_zero billing_address_title label_title">Driver Details</div>
                                                        <div class="col-xs-12 padding_zero driver_details margin-top-05" ng-if="!deliveryData.updateconfirm">
                                                            <input type="text" class="common_input" ng-model="deliveryForm.vehicle_no" ui-autocomplete="vehicleOption" placeholder="Vehicle No." tabindex="9"/>
                                                            <input type="text" class="common_input margin-left-05" ng-model="deliveryForm.driver_name" ui-autocomplete="driverOption" placeholder="Driver Name" tabindex="10"/>
                                                            <input type="text" class="common_input margin-left-05" placeholder="Phone No." ng-model="deliveryForm.driver_no" tabindex="11"/>
                                                        </div>
                                                        
                                                        <div class="col-xs-12 padding_zero driver_details margin-top-05" ng-if="deliveryData.updateconfirm">
                                                            <div class="col-xs-12 margin-bottom-05 padding_zero">
                                                                <span class="label_title order_label">Vehicle No:</span>
                                                                <span class="title_content" ng-if="deliveryForm.vehicle_no && deliveryForm.vehicle_no != null && deliveryForm.vehicle_no != ''" 
                                                                      ng-bind="deliveryForm.vehicle_no"></span>
                                                                <span class="title_content" ng-if="!deliveryForm.vehicle_no || deliveryForm.vehicle_no == null || deliveryForm.vehicle_no == ''"><b>---</b></span>
                                                            </div>
                                                            <div class="col-xs-12 margin-bottom-05 padding_zero">
                                                                <span class="label_title order_label">Driver Name:</span>
                                                                <span class="title_content" ng-if="deliveryForm.driver_name && deliveryForm.driver_name != null && deliveryForm.driver_name != ''" 
                                                                      ng-bind="deliveryForm.driver_name"></span>
                                                                <span class="title_content" ng-if="!deliveryForm.driver_name || deliveryForm.driver_name == null || deliveryForm.driver_name == ''" ><b>---</b></span>
                                                            </div>
                                                            <div class="col-xs-12 margin-bottom-05 padding_zero">
                                                                <span class="label_title order_label">Driver Phone No:</span>
                                                                <span class="title_content" ng-if="deliveryForm.driver_no && deliveryForm.driver_no != null && deliveryForm.driver_no != ''" 
                                                                      ng-bind="deliveryForm.driver_no"></span>
                                                                <span class="title_content" ng-if="!deliveryForm.driver_no || deliveryForm.driver_no == null || deliveryForm.driver_no == ''" ><b>---</b></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <div class="col-xs-12 margin-bottom-15 padding_zero">
                                                            <span class="label_title order_label">Delivery No:</span>
                                                            <span class="title_content" ng-if="deliveryForm.delivery_no && deliveryForm.delivery_no != null && deliveryForm.delivery_no != ''" 
                                                                  ng-bind="deliveryForm.delivery_no"></span>
                                                            <span class="title_content" ng-if="!deliveryForm.delivery_no || deliveryForm.delivery_no == null || deliveryForm.delivery_no == ''"><b>---</b></span>
                                                        </div>
                                                        <div class="col-xs-12 margin-bottom-05 padding_zero">
                                                            <span class="label_title order_label">Order Ref No:</span>
                                                            <span class="title_content" ng-if="deliveryForm.order_reference_no && deliveryForm.order_reference_no != null && deliveryForm.order_reference_no != ''" 
                                                                  ng-bind="deliveryForm.order_reference_no"></span>
                                                            <span class="title_content" ng-if="!deliveryForm.order_reference_no || deliveryForm.order_reference_no == null || deliveryForm.order_reference_no == ''"><b>---</b></span>
                                                        </div>
                                                        <div class="col-xs-12 margin-bottom-05 padding_zero">
                                                            <span class="label_title order_label">Customer DC No:</span>
                                                            <span class="title_content" ng-if="deliveryForm.customer_dc_no && deliveryForm.customer_dc_no != null && deliveryForm.customer_dc_no != ''" 
                                                                  ng-bind="deliveryForm.customer_dc_no"></span>
                                                            <span class="title_content" ng-if="!deliveryForm.customer_dc_no || deliveryForm.customer_dc_no == null || deliveryForm.customer_dc_no == ''" ><b>---</b></span>
                                                        </div>
                                                        <div class="col-xs-12 margin-bottom-05 padding_zero">
                                                            <span class="label_title order_label">Customer DC Date:</span>
                                                            <span class="title_content" ng-if="deliveryForm.customer_dc_date && deliveryForm.customer_dc_date != null && deliveryForm.customer_dc_date != ''" 
                                                                  ng-bind="deliveryForm.customer_dc_date | date:'dd - MM - yyyy'"></span>
                                                            <span class="title_content" ng-if="!deliveryForm.customer_dc_date || deliveryForm.customer_dc_date == null || deliveryForm.customer_dc_date == ''" ><b>---</b></span>
                                                        </div>
                                                        <div class="col-xs-12 margin-bottom-05 padding_zero">
                                                            <span class="label_title order_label">Dyeing Name:</span>
                                                            <span class="title_content" ng-if="deliveryForm.dyeing && deliveryForm.dyeing != null && deliveryForm.dyeing != '' && deliveryForm.dyeing.dyeing_name &&
                                                                                    deliveryForm.dyeing.dyeing_name != null && deliveryForm.dyeing.dyeing_name != ''" ng-bind="deliveryForm.dyeing.dyeing_name"></span>
                                                            <span class="title_content" ng-if="!deliveryForm.dyeing || deliveryForm.dyeing == null || deliveryForm.dyeing == '' || !deliveryForm.dyeing.dyeing_name ||
                                                                                    deliveryForm.dyeing.dyeing_name == null || deliveryForm.dyeing.dyeing_name == ''" ><b>---</b></span>
                                                        </div>
                                                        <div class="col-xs-12 margin-bottom-05 padding_zero">
                                                            <span class="label_title order_label">Dyeing DC No: </span>
                                                            <span class="title_content" ng-if="deliveryForm.dyeing_dc_no && deliveryForm.dyeing_dc_no != null && deliveryForm.dyeing_dc_no != ''" 
                                                                  ng-bind="deliveryForm.dyeing_dc_no"></span>
                                                            <span class="title_content" ng-if="!deliveryForm.dyeing_dc_no || deliveryForm.dyeing_dc_no == null || deliveryForm.dyeing_dc_no == ''" ><b>---</b></span>
                                                        </div>
                                                        <div class="col-xs-12 margin-bottom-05 padding_zero">
                                                            <span class="label_title order_label">Dyeing DC Date: </span>
                                                            <span class="title_content" ng-if="deliveryForm.dyeing_dc_date && deliveryForm.dyeing_dc_date != null && deliveryForm.dyeing_dc_date != ''" 
                                                                  ng-bind="deliveryForm.dyeing_dc_date | date:'dd - MM - yyyy'"></span>
                                                            <span class="title_content" ng-if="!deliveryForm.dyeing_dc_date || deliveryForm.dyeing_dc_date == null || deliveryForm.dyeing_dc_date == ''" ><b>---</b></span>
                                                        </div>
                                                    </div>
                                                    <div class="clearboth"></div>
                                                </div>
                                            </div>

                                            <div class="clearboth"></div>
                                            <div class="bill_view_order margin-bottom-20"> 
                                                <div class="col-xs-12 padding_zero" ng-if="deliveryForm.outward_data && deliveryForm.outward_data.length > 0">
                                                    <div class="col-xs-12 margin-top-10 heading_5">
                                                        <b>Delivery Details</b>
                                                    </div>

                                                    <div class="col-xs-12 order_detail_content margin-top-20">
                                                        <table class="table">
                                                            <thead>
                                                                <tr>
                                                                    <th></th>
                                                                    <th></th>
                                                                    <th></th>
                                                                    <th></th>
                                                                    <th colspan="4" class="text-center" style="color: #777;">Delivered</th>
                                                                    <th colspan="2" class="text-center" style="color: #777;">Available</th>
                                                                </tr>
                                                                <tr>
                                                                    <th class="text-left">Fabric Type</th>
                                                                    <th class="text-left">Colour</th>
                                                                    <th class="text-left">Process</th>
                                                                    <th class="text-center">Dia</th>
                                                                    <th></th>
                                                                    <th class="text-center">Rolls</th>
                                                                    <th class="text-right">Weight</th>
                                                                    <th></th>
                                                                    <th class="text-center">Rolls</th>
                                                                    <th class="text-right">Weight</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="outward in deliveryForm.outward_data" ng-hide="deliveryForm.jobstatus == 'COMPLETED' && !inward.fabric_color">
                                                                    <td class="fabric_types" ng-bind="outward.fabric_type"></td>
                                                                    <td class="fabric_color" ng-bind="outward.fabric_color"></td>
                                                                    <td class="fabric_process">
                                                                        <span combine-process="{{outward.process}}" ng-if="deliveryForm.currentIndex != outward.inward_data_id"></span>
                                                                        <span ng-if="deliveryForm.currentIndex != outward.inward_data_id && !deliveryData.updateconfirm">
                                                                            <a ng-click="deliveryForm.currentIndex = outward.inward_data_id">Change</a>
                                                                        </span>

                                                                        <tags-input ng-if="deliveryForm.currentIndex == outward.inward_data_id && !deliveryData.updateconfirm" 
                                                                                    key-property="process_id" display-property="process_name" class="tax_tags" ng-model="outward.process"
                                                                                    placeholder="Add / Remove Process" replace-spaces-with-dashes="false">
                                                                            <auto-complete source="loadTags($query)" load-on-focus="true" load-on-empty="true" min-length="0" max-results="10">
                                                                            </auto-complete>
                                                                        </tags-input>
                                                                        <span class="pull-right" ng-if="deliveryForm.currentIndex == outward.inward_data_id && !deliveryData.updateconfirm">
                                                                            <a ng-click="deliveryForm.currentIndex = ''">Update</a>
                                                                        </span>
                                                                    </td>
                                                                    <td class="text-center" ng-bind="outward.dia | number:2"></td>
                                                                    <td></td>
                                                                    <td class="text-center" ng-bind="outward.tempdeliveredrolls"></td>
                                                                    <td class="fabric_weight text-right" ng-bind="outward.tempdeliveredweight | number:3"></td>
                                                                    <td></td>
                                                                    <td class="text-center">
                                                                        <span ng-if="deliveryData.updateconfirm" ng-bind="outward.delivery_roll"></span>
                                                                        <input type="text" class="delivery_entry_input delivery_rolls" ng-if="!deliveryData.updateconfirm" 
                                                                               ng-class="{'input_error_show':outward.isrollError}" valid-onlynumber ng-model="outward.delivery_roll" 
                                                                               tabindex="{{12+$index+1}}">
                                                                    </td>
                                                                    <td class="fabric_weight text-right">
                                                                        <span ng-if="deliveryData.updateconfirm" ng-bind="outward.delivery_weight | number:3"></span>
                                                                        <input type="text" class="delivery_entry_input delivery_weight" ng-if="!deliveryData.updateconfirm" 
                                                                               ng-class="{'input_error_show':outward.isweightError}" valid-number3 ng-model="outward.delivery_weight" 
                                                                               ng-blur="validateWeight(outward)" tabindex="{{12+$index+2}}">
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="col-xs-12 margin-top-20" ng-if="deliveryData.updateconfirm">
                                                        <a class="print_bill" ng-click="printThisdelivery(); $event.stopPropagation();" style="vertical-align: sub;">Print this delivery</a>
                                                        <button class="common_button red_button margin-right-20 pull-right" ng-click="initializeDeliverydetails(); $event.stopPropagation();">Close</button>
                                                    </div>
                                                    <div class="col-xs-12 text-center margin-top-20" ng-if="deliveryForm.outward_data && deliveryForm.outward_data.length > 0 && !deliveryData.updateconfirm">
                                                        <button class="common_button pull-right" ng-click="saveDelivery('save'); $event.stopPropagation();" tabindex="{{deliveryForm.outward_data.length*2+14}}">Save</button>
                                                        <button class="common_button margin-right-20 pull-right red_button" ng-click="saveDelivery('print'); $event.stopPropagation();" tabindex="{{deliveryForm.outward_data.length*2+13}}">Save &amp; Print</button>
                                                    </div>
                                                </div>
                                            </div>                    
                                        </div>                    
                                    </div>
                                </div>
                            </div>
                        </div>               
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.toggle-card-size').click(function () {
            $(this).toggleClass('active');
            if ($(this).hasClass('active') == true) {
                $('.dash_body').show();
                $('.dash_tab-section').show();
                $(".dashboard_card").removeClass("Minmizelist");
                $(this).text('Minmize List');
            } else {
                $('.dash_body').slideUp("scale");
                $('.dash_tab-section').slideUp("scale");
                $(".dashboard_card").addClass("Minmizelist");
                $(this).text('Maxmize List');
            }
        });
    });
    function button_toggle_closeslide() { //Left Section show
        $('.jobcard_page').addClass('left_panel_toggle');
    }
    function button_toggle_openslide() { //Left Section show
        $('.jobcard_page').removeClass('left_panel_toggle');
    }
    function openEnterdetails() {
        $("#myModal").modal();
    }
    function openCustomerdetails() {
        $("#customerdetail").modal();
    }

    //Card Height Set
    function cardHeight() {
        var headerHeight = $('.header').height();
        var left_panel_height = $(window).height() - headerHeight;
        var windowHeight = $(window).height();
        var WinHeight = windowHeight - headerHeight;
        var windowWidth = $(window).width();
        var totalHeight = windowHeight - (headerHeight + 5);
        $('.billshow_container').css('height', WinHeight); //Total common div Height'
        $('#wrapper_left').css('height', left_panel_height);
        $('.s_card_height').css('height', left_panel_height);
        $('.s-dashboard-container-width').css('width', windowWidth - 50);
    }

    cardHeight();
    splite_screen();
    //Card Height Set
    function delcardHeight() {
        var headerHeight = $('.header').height();
        var windowHeight = $(window).height();
        var totalHeight = windowHeight - headerHeight;
        $('.bill_auto_height').css('height', totalHeight);
        $('.bill-view-section').css('height', totalHeight);
    }
    setTimeout(function(){
        delcardHeight();
    },300);
    
    $(window).resize(function () {
        delcardHeight();
    });
</script>