<style type="text/css">
    body{
        overflow: hidden;
    }
    .ui-autocomplete {
        display: block;
        position: absolute !important;
        cursor: default;
        max-height: 300px;
        min-height: 100px;
        max-width: 270px;
        overflow-y: auto;
        overflow-x: hidden;
        padding-right: 0;
        z-index: 9999;
        background: #fff;
        float: left;
        min-width: 160px;
        padding: 5px 0px;
        margin: 2px 0px 0px;
        font-size: 14px;
        text-align: left;
        list-style: none;
        background-color: rgb(255, 255, 255);
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, 0.14902);
    }
    .ui-autocomplete>li>a {
        display: block;
        padding: 3px 10px;
        clear: both;
        font-weight: 400;
        line-height: 1.42857143;
        color: #333;
        white-space: nowrap;
    }
    td .table>thead>tr>th{border-bottom: 0px;}
</style>
<div class="row margin-0" ng-if="PoData.pageaction == 'View'">
    <div class="purchase_right_section_header">Goods Received Note for <b ng-if="PoData.selectedDivisionname == 'ALL'">Lotus Knits</b><b ng-if="PoData.selectedDivisionname != 'ALL'" ng-bind="PoData.selectedDivisionname"></b>.
        <div class="fullscreen_icon pull-right margin-right-10 c_full_screen_click" id="full_screen" onclick="return full_screen_purchasestock()"></div>

        <div class="mail_icons pull-right margin-right-10" ng-click="clientdata.showdialogDiv = !clientdata.showdialogDiv"></div>

        <div class="pdf_icons pull-right margin-right-10" ng-click="pdf_reporter()"></div>

        <div class="print_icons pull-right margin-right-10" ng-click="printThisPayments();"></div>
    </div>

    <div class="purchase_container" style="overflow: hidden;">
        <div class="purchase_view_container" style="overflow: hidden;">
            <div class="col-xs-12 padding_10 purchaseheaderresult">
                <div class="heading_5 margin-bottom-15 margin-top-20">
                    <b style="font-size: 15px;" ng-if="PoData.selectedDivisionname == 'ALL'" ng-bind="'At Lotus Knits as of '+(PoData.currentDate | date:'EEE, dd-MM-yyyy hh:mm a')+'.'"></b>
                    <b style="font-size: 15px;" ng-if="PoData.selectedDivisionname != 'ALL'" ng-bind="'At '+(PoData.selectedDivisionname)+' as of '+(PoData.currentDate | date:'EEE, dd-MM-yyyy hh:mm a')+'.'"></b>
                </div>
            </div>

            <div class="col-xs-12 padding_10 purchasesearchcnt">
                <div class="heading_5 margin-bottom-15">
                    <b class="pull-left margin-top-10" style="font-size: 15px;">{{PoData.grn.length}} Goods Received Note</b>

                    <div class="right_menu" style="margin-top: 0px;float:right; width:330px;">
                        <div class="search_right_cnt" style="width:100% !important;">
                            <input type="text" class="search_box_expand" placeholder="Search for GRN" ng-model="grnfilter">
                            <div class="search_icons">
                                <span class="search_letter">Search</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 padding_10">
                <a class="common_button enter-new" ng-click="addGRN()">Add New GRN</a>
            </div>

            <div class="col-xs-12 padding_10 margin-top-15 purchase_view_table">
                <div class="table_scroll">
                    <table class="mt_table tb_scroll_style res-table-scroll margin-bottom-10">
                        <thead>
                            <tr>
                                <th style="min-width:130px;">Division</th>
                                <th style="min-width:100px;">GRN No.</th>
                                <th style="min-width:100px;">PO No.</th>
                                <th style="min-width:85px;">Date</th>
                                <th>Vendor Name</th>
                                <th style="min-width:115px;max-width:120px;">Invoice No</th>
                                <th class="text-right" style="min-width:110px;">Amount</th>
                                <th style="min-width:40px;"></th>
                            </tr>
                        </thead>
                        <tbody class="scollbody">
                            <tr ng-repeat-start="grn in PoData.grn"></tr>
                            <tr class="tr_body" ng-class="{'current_active_row':PoData.currentRow == grn._id}" ng-click="setCurrentrow(grn)">
                                <td style="min-width:130px;" ng-bind="grn.division_id.name"></td>
                                <td style="min-width:100px;"><b class="pull-left" ng-bind="grn.grn_no"></b></td>
                                <td style="min-width:100px;"><b class="pull-left" ng-bind="grn.po_no"></b></td>
                                <td style="min-width:85px;" ng-bind="grn.grn_date | date:'dd MMM yyyy'"></td>
                                <td ng-bind="grn.vendor_id.name"></td>
                                <td style="min-width:115px;max-width:120px;" ng-bind="grn.invoice_no"></td>
                                <td style="min-width:110px;" class="text-right" ng-bind="commonobjectService.getCurrency()+(grn.total_amt | number:2)"></td>
                                <td style="min-width:40px;">
                                </td>
                            </tr>
                            <tr ng-if="PoData.currentRow == grn._id" style="background-color: rgb(255,239,210);">
                                <!--                                <td colspan="7" ng-if="po.status == 'WAITING' || po.status == 'DENIED'">
                                                                    <span class="table_editicon margin-right-05" ng-click='editPurchaseorder(po); $event.stopPropagation();' title="Edit"></span>
                                                                </td>-->
                                <td colspan="8" class="purchasestock_innertable_view">
                                    <table class="table margin-top-10 sub_table_center_50">
                                        <thead>
                                            <tr>
                                                <th class="text-center" style="width: 80px;">S.No</th>
                                                <th>Item</th>
                                                <th class="text-center" style="width: 95px;">Received Qty</th>
                                                <th class="text-right" style="width: 100px;">Unit Price</th>
                                                <th class="text-right" style="width: 120px;">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="items in grn.stock_details| filter:grnfilter">
                                                <td class="text-center" style="width: 80px;" ng-bind="$index + 1"></td>
                                                <td class="text-left" ng-bind="items.product_name"></td>
                                                <td class="text-center" style="width: 95px;" ng-bind="items.quantity"></td>
                                                <td class="text-right" style="width: 100px;" ng-bind="commonobjectService.getCurrency()+(items.landing_cost | number:2)"></td>
                                                <td class="text-right" style="width: 120px;" ng-bind="commonobjectService.getCurrency()+(items.total | number:2)"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr ng-repeat-end></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row margin-0 itemadd_section" ng-if="PoData.pageaction == 'Create'">
    <div class="purchase_right_section_header"><span class="heading_3 blue-color">Add New GRN</span>
        <div class="fullscreen_icon pull-right margin-right-10 c_full_screen_click" id="full_screen" onclick="return full_screen_purchasestock()"></div>
    </div>
    <div class="purchase_container" style="overflow: hidden;">
        <div class="purchase_view_container" style="overflow: auto;">
            <div class="col-lg-12 margin-top-20" style="font-size: 18px;">
                <strong>Goods Received Note #GRN</strong>
            </div>

            <div class="col-xs-12 margin-top-40">
                <div class="add_edit_div acnt_add_edit_div">
                    <div class="col-xs-12 acnt_add_edit_click">
                        <span class="heading_5"> Add New GRN</span>
                    </div>
                    <div class="col-xs-12 margin-top-20 margin-bottom-20">
                        <div class="col-xs-10 col-lg-5 margin-bottom-10">
                            <div class="col-xs-12 padding_zero">
                                <div class="col-xs-4 col-lg-3" style="line-height: 2;">
                                    <b>PO No</b>
                                </div>
                                <div class="col-xs-8 col-lg-9 padding_zero">
                                    <input type="text" class="form-control text-center" placeholder="Select PO NO" ng-model="grnstockForm.po_no" ui-autocomplete="purchaseorderOption" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-lg-7 margin-bottom-10">
                            <div class="col-xs-6 padding_zero">
                                <div class="col-xs-4" style="line-height: 2;">
                                    <b>Date</b>
                                </div>
                                <div class="col-xs-7 padding_zero">
                                    <div class="datepicker_custom_style" style="width: 100%">
                                        <div class="input-group date">
                                            <date-time-picker class="text-left" ng-model="grnstockForm.grn_date" placeholder="Exp.Delivery Date" start-view='2' 
                                                              min-view='2' max-view='4' today-btn='true' minute-step='30' format="dd-MM-yyyy" container=".datepicker_custom_style">
                                            </date-time-picker>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 padding_zero">
                                <div class="col-xs-5" style="line-height: 2;">
                                    <b>Invoice No</b>
                                </div>
                                <div class="col-xs-7 padding_zero">
                                    <input type="text" class="form-control text-center" ng-model="grnstockForm.invoice_no" placeholder="Invoice No">
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-7 col-md-7 margin-top-10">
                            <div class="col-xs-6 padding_zero margin-bottom-10" style="line-height: 2;">
                                <div class="col-xs-5" style="line-height: 2;">
                                    <b>GRN No</b>
                                </div>
                                <div class="col-xs-7 padding_zero">
                                    <span ng-bind="grnstockForm.grn_no"></span>
                                </div>
                            </div>
                            <div class="col-xs-6 padding_zero margin-bottom-10" style="line-height: 2;">
                                <div class="col-xs-5" style="line-height: 2;">
                                    <b>Vendor Name</b>
                                </div>
                                <div class="col-xs-7 padding_zero">
                                    <span ng-bind="grnstockForm.vendor_name"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 margin-top-30">
                <span class="heading_5">Item Details</span>
            </div>
            <div class="accounts_receivable-row3 margin-top-20 margin-bottom-30">
                <div class="col-lg-12">
                    <div class="acnt_receive_table_container padding_zero_div">
                        <table class="receive_balance_table">
                            <thead>
                                <tr>
                                    <th class="text-center" style="width: 90px;">S No.</th>
                                    <th>Item</th>
                                    <th class="text-center" style="width: 120px;">Order Qty</th>
                                    <th class="text-right" style="width: 120px;">Order Price</th>
                                    <th class="text-right" style="width: 120px;">Unit Price</th>
                                    <th class="text-center" style="width: 180px;">Received Qty</th>
                                    <th class="text-center" style="width: 130px;">Received Price</th>
                                    <th style="width: 40px;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="items in grnstockForm.stock_details">
                                    <td class="text-center" ng-bind="$index + 1"></td>
                                    <td ng-bind="items.product_name"></td>
                                    <td class="text-center" ng-bind="items.order_quantity"></td>
                                    <td class="text-right"><span ng-if="items.order_total && items.order_total > 0">{{commonobjectService.getCurrency()}}{{items.order_total|number:2}}</span></td>
                                    <td class="text-right"><span ng-if="items.landing_cost && items.landing_cost > 0">{{commonobjectService.getCurrency()}}{{items.landing_cost|number:2}}</span></td>
                                    <td class="text-center">
                                        <input type="text" class="qtytext" valid-numeral ng-model="items.quantity" ng-keyup="calculateGrnTotal()" placeholder="Received Quantity">
                                    </td>
                                    <td class="text-right">
                                        <input type="text" class="pricetext" valid-number ng-model="items.total" ng-keyup="calculateGrnTotal()" placeholder="Received Price">
                                    </td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="acnt_receive_total_show">
                            <span ng-if="grnstockForm.total_amt && grnstockForm.total_amt > 0">Total Amount: {{commonobjectService.getCurrency()}}{{grnstockForm.total_amt|number:2}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-xs-12 margin-top-15">
                    <a class="common_button cancel pull-right" ng-click="viewData('GRN'); $event.stopPropagation();" style="margin-right: 40px;">Cancel</a>
                    <a class="common_button margin-right-15 margin-left-10 pull-right enter-new" ng-click="createStock(); $event.stopPropagation();">Confirm</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        setTimeout(function(){
            purchasestockresize();
        },200);
    });



     var $table = $('table.mt_table'),
        $bodyCells = $table.find('tbody tr:first').children(),
        colWidth;
    
    function pendingpayreport() {
        colWidth = $bodyCells.map(function () {
        return $(this).width();
        }).get();
        $table.find('thead tr').children().each(function (i, v) {
        $(v).width(colWidth[i]);
        });
        var header_height_c1 = $('.header').height();
        var windowHeight_c1 = $(window).height();
        var total_height_c1 = windowHeight_c1 - header_height_c1 - 360;
        $('.scollbody').css('height', total_height_c1);
    }
    $(window).resize(function () {
        pendingpayreport();
    });   
    setTimeout(function () {
        pendingpayreport();
    }, 200);
</script>