<style type="text/css">
    body {
        /*background: rgb(35, 137, 159);*/
        background: #eee;
        overflow: hidden;
    }
    .split-pane-component {
        overflow-y: auto !important;
    }
    .wrapper-div {
        overflow-y: auto;
    }
    .preference_pass {
        width: 400px;
        margin: 0 auto;
        position: relative;
    }
    .common-input-edit input[type="text"], .common-input-edit input[type="password"] {
        width: 100%;
        height: 40px;
        border: 0px;
        background: #ffffff;
        color: #393939;
        box-shadow: none;
        border-radius: 0px;
        text-align:center;
    }
    .preference_container {
        margin: 0 auto;
        width: 700px;
    }
    .content_subtitle {
        text-align: center;
        margin-bottom: 35px;
    }
    .content_title {
        text-align: center;
        font-weight: bold;
        margin: 60px 0px 20px;
    }
    #split-pane-1 #left-component{
        background: #EEEEEE !important;
    }
    .drop-box {
        text-align: center;
    }
</style>
<div class="wrapper branch_admin" ng-controller="ProfileController">
    <form name="myForm" novalidate >
        <div class="container_header_profile">
            <div class="container">
                <div class="profile_title heading_3 text-center" ng-bind="'Account of ' + userForm.name"></div>
            </div>
        </div>
        <div class="container profile_container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="content_title heading_4">Profile</div>
                    <div class="add_new_entry">
                        <div class="col-xs-11 col-md-12">
                            <div class="entry_content">
                                <div class="col-xs-5 col-md-3">
                                     <!--ngf-pattern="'image/*,application/pdf'"  ngf-pattern="'.pdf,.jpg,video/*,!.jog'"-->
                                    <div class="uploaed_file" class="button" ngf-select="onFileSelect($files)" ngf-pattern="'.jpg,.jpeg,.png'" ngf-accept="'image/*'" ngf-max-size="2MB">
                                        <img ng-src="{{userData.loadedfile}}" fallback-src="profile" height="200px" width="100%"/>
                                    </div>
                                </div>

                                <div class="col-xs-7 col-md-9">
                                    <div class="row">
                                        <div class="col-lg-8">
                                            <input type="text" class="form-control form_name" name="name" ng-model="userForm.name"
                                                   ng-class="{'input_error_class':!myForm.name.$valid && (myForm.name.$touched || adminusers.formsubmission)}" placeholder="Name" required> 
                                            <input type="text" class="form-control form_address" name="email_id" ng-class="{'input_error_class':!myForm.email_id.$valid && (myForm.email_id.$touched || adminusers.formsubmission)}" ng-model-options="{updateOn: 'blur'}" ng-change="checkemail(userForm.email_id)" ng-model="userForm.email_id" ng-pattern='/\S+@\S+\.\S+/' placeholder="Email ID" required>
                                        </div>

                                        <div class="col-lg-4 styled-select">
                                            <div class="user_role_show">Role:<br> 
                                                <b ng-repeat="role in userData.roles" ng-if="role.id == userForm.role" ng-bind="role.name">                                                    
                                                </b>
                                            </div>
                                        </div>

                                        <div class="col-lg-12 col-xs-12">
                                            <input type="text" class="form-control form_address " ng-model="userForm.address" name="address" placeholder="Full Address" ng-class="{'input_error_class':!myForm.address.$valid && (myForm.address.$touched || adminusers.formsubmission)}" required>                                                   
                                        </div>

                                        <div class="col-lg-4 col-xs-12">
                                            <input type="text" class="form-control" ng-model="userForm.mobile_no" name="mobile_no" ng-minlength="10" ng-maxlength="12" ng-pattern="/^[0-9]{10,12}$/" placeholder="Mobile No. xxxx..." name="admin_mobile" ng-class="{'input_error_class':!myForm.mobile_no.$valid && (myForm.mobile_no.$touched || adminusers.formsubmission)}" required >
                                        </div>

                                        <div class="col-lg-4 col-xs-12">                                            
                                            <input type="text" class="form-control" ng-model="userForm.alternate_no" name="alternate_no" ng-pattern="/^[0-9]{10,12}$/" ng-minlength="10" ng-maxlength="12" placeholder="Alt. Contact No. xxxx..." ng-class="{'input_error_class':!myForm.alternate_no.$valid && (myForm.alternate_no.$touched || adminusers.formsubmission)}">
                                        </div>                                        

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container profile_container">
            <div class="heading_5 text-center">
            </div>
            <div class="row">
                <div class="col-xs-12 margin-bottom-35 margin-top-30">
                    <div class="profile_title heading_3 text-center margin-bottom-30">
                        <b>Login Credentials</b>
                    </div>
                    <div class="text-center margin-bottom-30">
                        Username: <b ng-bind-template="{{userForm.username}}"></b>
                    </div>
                    <div class="content_subtitle">
                        Passwords to be 6 characters in length. Only alpha numeric
                        characters allowed.<br> No special characters and spaces allowed.
                    </div>
                    <div class="preference_container" id="preference_container">
                        <div class="col-xs-12 common-input-edit text-center">
                            <div class="preference_pass">
                                <input type="{{inputType}}" class="form-control" placeholder="Password" id="inputPassword" name="password" alpha-numeric="6" ng-model="userForm.password" ng-class="{'input_error_class':userForm.matchError}"> 

                                <span class="eye-icon" ng-class="{'icon-eye-close':inputType == 'text'}" ng-mousedown="showpassword('text');" ng-mouseup="showpassword('password')"></span>
                            </div>
                        </div>
                        <div class="col-xs-12 margin-top-10 common-input-edit text-center">
                            <div class="preference_pass">
                                <input type="password" class="form-control" name="password_conform" placeholder="Confirm Password"   alpha-numeric="6" ng-model="userForm.password_confirm"
                                       ng-class="{'input_error_class':userForm.matchError}" ng-blur="checkPasswordRetypePasswordmatch()">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container profile_container">            
            <div class="row">               
                <div class="col-xs-12 margin-top-15 margin-bottom-20 text-center">
                    <a class="common_button_big heading_5 text-center" ng-click="adminusers.formsubmission = true;update(myForm.$valid); $event.stopPropagation();">Update Profile</a>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    splite_screen();
</script>